## Tell the configuration system it should stop looking for other configuration files (default: false).
config.stopBubbling = true

## Emit a warning or error if an experimental feature is used.
lombok.experimental.flagUsage = ALLOW

## Emit a warning or error if @Accessors is used.
lombok.accessors.flagUsage = ALLOW
## Generate setters that return 'this' instead of 'void' (default: false).
lombok.accessors.chain = true
## Generate getters and setters using only the field name (no get/set prefix) (default: false).
lombok.accessors.fluent = true
## Generate getters, setters and with-ers with the 'final' modifier (default: false).
lombok.accessors.makeFinal = false

## Which capitalization strategy to use when converting field names to accessor names and vice versa (default: basic).
lombok.accessors.capitalization = BASIC

## Generate @jakarta.annotation.Generated on all generated code (default: false).
lombok.addJakartaGeneratedAnnotation = false
## Generate @javax.annotation.Generated on all generated code (default: follow lombok.addGeneratedAnnotation).
lombok.addJavaxGeneratedAnnotation = false
## Generate @lombok.Generated on all generated code (default: true).
lombok.addLombokGeneratedAnnotation = true

## Generate @edu.umd.cs.findbugs.annotations.SuppressFBWarnings on all generated code (default: false).
lombok.extern.findbugs.addSuppressFBWarnings = true
## Generate @java.lang.SuppressWarnings("all") on all generated code (default: true).
lombok.addSuppressWarnings = true

## Generate some style of null annotation for generated code where this is relevant. (default: none).
lombok.addNullAnnotations = CUSTOM:TYPE_USE:org.jspecify.annotations.NonNull:org.jspecify.annotations.Nullable


## Emit a warning or error if @AllArgsConstructor is used.
lombok.allArgsConstructor.flagUsage = ALLOW
## Emit a warning or error if any of the XxxArgsConstructor annotations are used.
lombok.anyConstructor.flagUsage = ALLOW
## Generate @ConstructorProperties for generated constructors (default: false).
lombok.anyConstructor.addConstructorProperties = true
## Emit a warning or error if @NoArgsConstructor is used.
lombok.noArgsConstructor.flagUsage = ALLOW
## Generate a private no-args constructor for @Data and @Value (default: false).
lombok.noArgsConstructor.extraPrivate = false
## Emit a warning or error if @RequiredArgsConstructor is used.
lombok.requiredArgsConstructor.flagUsage = ALLOW

## Emit a warning or error if @Getter is used.
lombok.getter.flagUsage = ALLOW
## Emit a warning or error if @Getter(lazy=true) is used.
lombok.getter.lazy.flagUsage = ERROR
## If true, generate and use getFieldName() for boolean getters instead of isFieldName().
lombok.getter.noIsPrefix = false

## Emit a warning or error if @Builder is used.
lombok.builder.flagUsage = ALLOW
## Emit a warning or error if @EqualsAndHashCode is used.
lombok.equalsAndHashCode.flagUsage = ALLOW
## Emit a warning or error if @Jacksonized is used.
lombok.jacksonized.flagUsage = ALLOW
## Emit a warning or error if onX is used.
lombok.onX.flagUsage = ALLOW
## Emit a warning or error if @Setter is used.
lombok.setter.flagUsage = ALLOW
## Emit a warning or error if @SneakyThrows is used.
lombok.sneakyThrows.flagUsage = ALLOW
## Emit a warning or error if @StandardException is used.
lombok.standardException.flagUsage = ALLOW
### Emit a warning or error if @ToString is used.
lombok.toString.flagUsage = ALLOW
## Emit a warning or error if @UtilityClass is used.
lombok.utilityClass.flagUsage = ALLOW
## Emit a warning or error if @With is used.
lombok.with.flagUsage = ALLOW
## Emit a warning or error if @WithBy is used.
lombok.withBy.flagUsage = ALLOW


## Emit a warning or error if any of the log annotations is used.
lombok.log.flagUsage = ALLOW
## Make the generated logger fields static (default: true).
lombok.log.fieldIsStatic = true
## Emit a warning or error if @Log4j2 is used.
lombok.log.log4j2.flagUsage = ALLOW
## Emit a warning or error if @Slf4j is used.
lombok.log.slf4j.flagUsage = ALLOW
## Emit a warning or error if @CommonsLog is used.
lombok.log.apacheCommons.flagUsage = ERROR
## Emit a warning or error if @Flogger is used.
lombok.log.flogger.flagUsage = ERROR
## Emit a warning or error if @Log is used.
lombok.log.javaUtilLogging.flagUsage = ERROR
## Emit a warning or error if @JBossLog is used.
lombok.log.jbosslog.flagUsage = ERROR
## Emit a warning or error if @Log4j is used.
lombok.log.log4j.flagUsage = ERROR
## Emit a warning or error if @XSlf4j is used.
lombok.log.xslf4j.flagUsage = ERROR
## Emit a warning or error if @CustomLog is used.
lombok.log.custom.flagUsage = ERROR


## Emit a warning or error if @Cleanup is used.
lombok.cleanup.flagUsage = ERROR
## Emit a warning or error if @Delegate is used.
lombok.delegate.flagUsage = ERROR
## Emit a warning or error if @ExtensionMethod is used.
lombok.extensionMethod.flagUsage = ERROR
## Emit a warning or error if @Helper is used.
lombok.helper.flagUsage = ERROR
## Emit a warning or error if @Locked is used.
lombok.locked.flagUsage = ERROR
## Emit a warning or error if @FieldDefaults is used.
lombok.fieldDefaults.flagUsage = ERROR
## Emit a warning or error if @FieldNameConstants is used.
lombok.fieldNameConstants.flagUsage = ERROR
## Emit a warning or error if @Data is used.
lombok.data.flagUsage = ERROR
## Emit a warning or error if @Value is used.
lombok.value.flagUsage = ERROR
## Emit a warning or error if 'val' is used.
lombok.val.flagUsage = ERROR
## Emit a warning or error if 'var' is used.
lombok.var.flagUsage = ERROR
## Emit a warning or error if @SuperBuilder is used.
lombok.superBuilder.flagUsage = ERROR
## Emit a warning or error if @Synchronized is used.
lombok.synchronized.flagUsage = ERROR
## Emit a warning or error if @NonNull is used.
lombok.nonNull.flagUsage = ERROR
